@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #fb5e5e;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#searchAnchortag{
position:relative;
top: 30px;
}
.mainsearch{
    background-color: white;
    border-radius: 40px;
    /* visibility: hidden; */
    /* transition: .3s ease-in; */
    width: 22rem;
    height: 3rem;
}

#searchIcon{
    height: 23px;
    margin-left: 8px;
}
#searchTxt{
    font-family: 'Gurajada', serif;;
    font-size: xx-large;
    width: 91%;
    border: none;
    outline: none;
    position: relative;
    left: 15px;
    top: 6px;
    height: 74%;
}

#reset-icon{
    cursor: pointer;
    height: 23px;
    left: -12px;
    position: relative;
    top: 2px;
}
