body {
  background-color: #eaaaaa52;
  overflow: auto;
}

.checktext{
  display: flex;
  align-items:center;
  justify-content: center;
}


#text {
  border: 2px solid red;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: none;
  padding: 2px 2px;
}
#text:focus {
  outline: none;
}

.generateInfobtn {
  background-color: #182ed6da;
  border: 1px solid #1633ff;
  color: #fff;
  transition: all 0.7s ease-in-out;
  position: relative;
  top: 400px;
  left: 71px;
}
.generateInfobtn:hover {
  background-color: #001aff;
  color: white;
}
.unique {
  transition: all 0.4s ease-in-out;
}
.unique:hover {
  border: 1px solid red;
  background-color: red;
}
.text-wrapper {
  position: absolute;
  top: 75px;
  left: 75px;
}

@media screen and (max-width: 600px) {
  #text {
    position: relative;
    top: 150px;
    left: -45px;
    width: 360px;
    height: 500px;
  }
  .generateInfobtn {
    position: relative;
    top: 125px;
    left: 25px;
  }
.checktext{
display: flex;
align-items:center;
justify-content:center;
color: red;
flex-direction: coloumn;
}


.generateInfobtn{
position: relative;
top:54px;


}
