* {
  margin: 0;
  padding: 0;
}

h1{
    text-align: center;
}

hr{
    color: rgb(90, 90, 241);
}

.uniquecard{
    display: flex;
    flex-direction: row;
}

#gifpreloader{
     display: none;
   /* color: rebeccapurple; */
}
#preloadertext{
    display: none;
}

.uniquenoteCard{
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}

#addTxt{
    border: 2px solid rgb(255, 7, 7);
    border-radius: 10px;
}

.star-svg{
  background: grey;
  position: relative;
  left: 214px;
  top: 4px;
}
.star-svg path{
  fill: white;
}

#addTxt:focus{
    color: #1b00ff;
    background-color: #fff;
    box-shadow: 0 0 0 0;
}

.editbtn {
  border: 0;
  padding: -32px;
  display: flex;
  position: relative;
  left: 245px;
  top: 9px;
  width: 17px;
  height: 0px;
  background: transparent;
}
