.maincard {
    height: 166px;
    background-color: hsl(240deg 44% 14%);
    width: 356px;
    box-shadow: -3px 13px 20px 3px rgb(41 40 40 / 36%);
    transform: translate(37px, 22px);
    border-radius: 11px;
    margin: 17px;
}

.heading-content {
    color: white;
    transform: translate(10px, 10px);
}

.description-content {
    color: white;
    transform: translate(10px, 8px);
}

.link-content {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

.link-content:hover {
    color: white;
    text-decoration: none;
    font-size: 21px;
}
